.alert {
  padding: 15px;
  text-align: center;
  font-size: 24px;
  border-radius: 3px;

  small {
    font-size: 14px;
  }

  &__warning {
    background-color: $color-warning;
    color: $color-white;
  }

  &__danger {
    background-color: $color-danger;
    color: $color-white;
  }
}
