.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  white-space: nowrap;
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  border: 0;
}

.btn {
  text-decoration: none;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1.5rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-sm{
  font-size: 1rem;
  line-height: 1.25;
}

.btn-lg{
  font-size: 2rem;
  line-height: 2.5;
  padding: .675rem 1.75rem;
  border-radius: .5rem;
}

.btn-primary {
  color: #fff;
  background-color: $color-green;
  border-color: $color-green;
  &:hover,
  &:focus{
    background-color: darken($color-green, 5%);
    border-color: darken($color-green, 5%);
  }

  &[disabled],
  &.disabled{
    color: #fff;
    cursor: default;
    background-color: lighten($color-green, 10%);
    border-color: lighten($color-green, 10%);
  }
}
