.card {
    padding: 15px;
    width: 37rem;

    &__content {
        background: $color-white;
        width: 34rem;
        max-height: 42rem;
        border-radius: 5px;
        position: relative;
        overflow: hidden;
    }

    &__header {
        padding: 0.8rem;
        display: flex;
        align-items: center;
        height: 3.8rem;
        font-size: 1.8rem;
    }

    &__footer {
        background: $color-white;
        padding: 0.8rem;
        display: flex;
        align-items: center;
        border-radius: 5px;
        font-size: 1.25rem;
        margin-top: 0.8rem;
        text-decoration: none;
        color: $color-black;
        .col-auto{
            margin-right: 5px;
        }
        .nextjob{
            display: flex;
            justify-content: space-between;
            flex: 1;
            i{
                float: left;
                margin-right: 5px;
            }
        }
        i{
            color: $color-green
        }
    }

    &__title {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        font-size: 2.4rem;
    }

    &__more {
        color: $color-green;
        font-size: 3.5rem;
    }

    &__status {
        padding: 1rem 1rem 0;
        height: 22rem;
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &__chart {}

        &__label {
            margin-top: 2rem;
            text-transform: uppercase;
            font-size: 1.4rem;
            line-height: 1;
            display: flex;
            align-items: center;
            justify-content: center;

            .icon-circle {
                margin-right: 1rem;
            }

            @each $status-name,
            $status-color in $color-ms {
                .#{$status-name} & .icon-circle {
                    &:before {
                        color: map-get($color-ms, $status-name);
                    }
                }
            }
        }
    }

    &__chart {
        flex: 1;
    }

    &__timer {}

    &__job {
        i:not([class~="icon-more"]) {
            padding-right: 1rem;
            color: $color-green;
        }
    }

    &__order {}

    &__job,
    &--detail__job,
    &__order,
    &--detail__order {
        padding: 1.5rem;

        @media all and (min-width:768px) {
            padding: 1.7rem 3rem;

        }

        .icon-more {
            font-size: 2.8rem;

            &:not(.active) {
                color: $color-green;
            }

            &.active {
                color: $color-gray-light;
            }
        }
    }

    &--detail__status {
        padding: 1.5rem;

        @media all and (min-width:768px) {
            padding: 1.7rem 3rem;

        }

        .timer {
            padding: 1rem 0;
        }

        .card__status__label {
            justify-content: flex-start
        }
    }
}
