/* CHART DONUT */
.chart-donut {
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    width: 160px;
    height: 160px;
    margin: 0 auto;

    &.chart--big {
        width: 200px;
        height: 200px;
    }

    .slice {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .chart-center {
        position: absolute;
        border-radius: 50%;
        top: 20px;
        left: 20px;
        width: 120px;
        height: 120px;
        border: solid 8px $color-white;
        background: $color-green;
        display: flex;
        align-items: baseline;
        justify-content: space-around;

        &.chart--big {
            top: 25px;
            left: 25px;
            width: 150px;
            height: 150px;

            &:before {
                font-size: 5rem;
                height: auto;
            }

            span {
                font-size: 3.2rem;
            }
        }

        @each $status-name,
        $status-color in $color-ms {
            .#{$status-name} & {
                background: map-get($color-ms, $status-name);
            }
        }

        &:before {
            color: $color-white;
            font-family: 'RobotoBold', sans-serif;
            font-size: 3.6rem;
            height: 4.4rem;
            letter-spacing: -1px;
        }

        span {
            display: block;
            text-align: center;
            color: $color-white;
            font-family: 'RobotoBold', sans-serif;
            font-style: normal;
            font-stretch: normal;
            letter-spacing: normal;
            text-align: center;
            height: 2rem;
            font-size: 2rem;
        }
    }
}

/*
* Chart percentage classes
*/
.slice {
    &.one {
        clip: rect(0 160px 80px 0);
        background: $color-green;

        .chart--big & {
            clip: rect(0 200px 100px 0);
        }
    }

    &.two {
        clip: rect(0 80px 160px 0);
        background: $color-green;

        .chart--big & {
            clip: rect(0 100px 200px 0);
        }
    }
}

@for $perc from 0 through 100 {
    $deg: ($perc/100*360)+deg;
    $deg1: 90deg;
    $deg2: $deg;
    $perc-color: $color-gray-light;
    $perc-color2: $color-green;

    @if $perc < 50 {
        $deg1: ($perc/100*360+90)+deg;
        $deg2: 0;
        $perc-color: $color-green;
        $perc-color2: $color-gray-light;
    }

    .chart-donut.perc-#{$perc} {
        background: $perc-color;
    }

    .perc-#{$perc} {
        .slice {
            &.one {
                -webkit-transform: rotate($deg1);
                transform: rotate($deg1);
                background: $perc-color2;
            }

            &.two {
                -webkit-transform: rotate($deg2);
                transform: rotate($deg2);
                background: $perc-color2;
            }
        }

        .chart-center {
            display: flex;
            justify-content: center;
            align-items: center;

            &:before {
                content: '#{$perc}';
            }
        }
    }

    .card.off,
    .card__box.off {
        .slice {
            &.one {
                background: $color-gray-light;
            }

            &.two {
                background: $color-gray-light;
            }
        }

        .chart-center {
            background: $color-gray-light;

            &:before {
                content: '...';
            }
        }
    }
}

/* CHART PIE */
.chart-pie {
    width: 4.4rem;
    height: 4.4rem;
    border-radius: 50%;
    overflow: hidden;

    @for $i from 0 through 100 {
        $direction: to right;
        $bg-color: $color-gray-light;

        &.perc-#{$i} {
            @if $i>0 {
                background: linear-gradient($direction, $color-gray-light 50%, $color-green 0);

                @if $i < 51 {
                    &:before {
                        content: '';
                        display: block;
                        background: $color-gray-light;
                        transform-origin: left;
                        transform: translateX(50%) rotate($i/100 + turn);
                        height: 100%;
                    }
                }

                @else {
                    &:after {
                        content: '';
                        display: block;
                        background: $color-green;
                        transform-origin: right;
                        transform: translateX(-50%) rotate($i/100 + turn);
                        height: 100%;
                    }
                }
            }

            @else {
                background: $color-gray-light;
            }
        }
    }

    &+span {
        margin-left: 1.5rem;
    }
}