.d-none{
  display: none;
}

.d-inline{
  display: inline;
}

.d-inline-block{
  display: inline-block;
}

.d-lg-flex{
  @media all and (min-width: $bp-m + 1 ) {
    display: flex;
  }
}
.d-lg-block{
  @media all and (min-width: $bp-m + 1 ) {
    display: block;
  }
}
.d-md-none{
  @media all and (min-width: $bp-m + 1 ) {
    display: none;
  }
}
.order-1{
    order: 1;
}
.order-md-first{
  @media all and (min-width: $bp-m + 1 ) {
    order: 1;
  }
}

.d-xl-flex{
  @media all and (min-width: $bp-l + 1 ) {
    display: flex;
  }
}
.d-xxl-block{
  @media all and (min-width: $bp-xl + 1 ) {
    display: flex;
  }
}
.d-xl-block{
  @media all and (min-width: $bp-l + 1 ) {
    display: block;
  }
}
.d-xxl-block{
  @media all and (min-width: $bp-xl + 1 ) {
    display: block;
  }
}

.d-lg-none{
  @media all and (min-width: $bp-l + 1 ) {
    display: none;
  }
}


.flex-grow{
  flex: 1;
}
