.header {
    height: 10rem;
    width: 100%;
    top: 0;
    left: 0;
    background: $color-white;
    display: flex;
    align-items: center;

    /*
    * Variation
    */
    /*
    * Child El
    */
    &__logo {
        @extend .br;
        font-size: 7.8rem;
        line-height: 1;
    }

    &__actions,
    &__branding,
    &__logo {
        padding: 1.4rem;
        height: 100%;
    }

    &__branding {
        font-weight: 300;
        color: $color-green;
        margin: 0;

        overflow: hidden;

        i {
            padding-right: 2rem;
        }

        @media all and (min-width: $bp-s) {
            padding-left: 4rem;
        }
    }

    &__branding {
        flex: 1;

        svg {
            max-width: 300px;
        }
    }

    &__actions {

        @media all and (max-width: $bp-m) {
            display: none !important;
        }
    }


    &__action {
        margin: 0 1rem;
        font-size: 3.2rem;
        color: $color-green;

        @media all and (min-width: $bp-s) {
            font-size: 4rem;
            margin: 0 2.5rem 1.4rem;
        }
    }
}