.job {
    &__section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 6.8rem;

        i {
            color: $color-green;
            font-size: 2.8rem;
        }

        .label {
            font-size: 1.4rem;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 100%;
            padding: 0 0.8rem;
        }
    }

    &__status {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        box-sizing: content-box;
        height: 6.8rem;
        border-bottom-right-radius: 5px;

        @each $status-name,
        $status-color in $color-js {
            &.#{$status-name} {
                background: map-get($color-js, $status-name);
            }

            &.#{$status-name} .icon-job {
                @extend .icon-#{$status-name} !optional;
            }
        }

        .label {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 100%;
            padding: 0 0.8rem;
        }

        .status {
            @extend .mt-5;
            text-transform: uppercase;
            font-size: 1.5rem;

            i {
                padding-right: 0.5rem;
            }
        }
    }
    .status{
        @extend .mt-10;
    }
}
