.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;

    &__header {}

    &__content {
        flex: 1;
        padding: 2rem;

        @media all and (max-width: $bp-s) {
            padding: 0.5rem;
        }
    }
}

.flex {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;


    &--center {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

        &--col {
            @extend .flex--center;
            flex-direction: column;
        }
    }

    &m--start {
        @media all and (max-width: $bp-m) {
            align-items: flex-start
        }
    }

    &--between {
        justify-content: space-between;
    }

    &--start {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: flex-start;

        &--col {
            @extend .flex--start;
            flex-direction: column;
        }
    }

    &--grow {
        flex: 1;
    }

    &--wrap {
        flex-wrap: wrap;
    }
}

.align {
    &--center {
        align-self: center;
    }
}

/*
* Custom column system
*/
.col {
    @for $i from 11 through 1 {
        &-#{$i} {
            width: (100 / 12)* $i + %;
        }
    }
}

.w {
    @for $i from 1 through 100 {
        &-#{$i} {
            width: $i + %;
        }
    }
}

.w {
    @for $i from 1 through 100 {
        &m-#{$i} {
            @media all and (max-width: $bp-m) {
                width: $i + %;
            }
        }
    }
}

.m {
    @for $i from 0 through 101 {
        &t {
            &-#{$i} {
                margin-top: $i/10 + rem;
            }
        }

        &b {
            &-#{$i} {
                margin-bottom: $i/10 + rem;
            }
        }
    }
}

/*
* Utils
*/
.pull {
    &--right {
        float: right;
    }

    &--left {
        float: left;
    }
}
