.card--detail__alert{
    margin: 0.75rem 0.75rem 0.75rem 0;
}

.card {
    &--detail {
        display: flex;
        flex-direction: column;

        @media all and (min-width: 1500px) {
            align-items: stretch;
            justify-content: center;
            flex-direction: row;
            margin-top: 0;
        }

        &__content {}

        &__header {
            display: flex;
            align-items: stretch;

            @media all and (min-width: 1500px) {
                flex-direction: column;
            }
        }

        &__status {
            @extend .col-7;
            display: flex;
            align-items: center;
            justify-content: flex-end;


            @media all and (max-width: $bp-m) {
                justify-content: flex-start;

                width: 100%;
            }
        }

        &__timer {
            @extend .col-5;

            @media all and (max-width: $bp-m) {
                width: 100%;
            }

        }

        &__status__label {
            padding: 1rem;
            margin-top: 2rem;
            text-transform: uppercase;
            font-size: 1.4rem;
            line-height: 1;
            display: flex;
            align-items: center;

        }

        &__progress {
            @extend .bl;

            @media all and (max-width: $bp-m) {
                border-left: initial;
            }
        }

        &__job,
        &__order {
            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;
            justify-content: flex-start;
            padding: 1.5rem;
            border-top: solid 1px #dbdbdb;

        }

        &__job {


            .job,
            .section {
                @media all and (max-width: $bp-s) {
                    width: 100%;
                }
            }

            .job {
                @extend .col-6;

                .status {
                    i {
                        padding-right: 0.5rem;
                    }
                }

            }

            .section {
                @extend .col-5;

                @media all and (max-width: $bp-s) {
                    margin-top: 1rem;
                }

                .status {
                    i {
                        &:before {
                            color: $color-green;
                        }

                        padding-right: 0.5rem;
                    }
                }


            }

            .link {
                @extend .col-1;

                @media all and (max-width: $bp-s) {
                    display: none;
                }
            }
        }

        &__order {


            .order {
                @extend .col-6;
            }

            .value {
                @extend .col-5;
                align-self: center;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: flex-start;
            }

            .order,
            .value {
                @media all and (max-width: $bp-s) {
                    width: 100%;
                }
            }

            .link {
                @extend .col-1;

                @media all and (max-width: $bp-s) {
                    display: none;
                }
            }

        }

        &__chart {
            margin-right: 1.5rem;
        }
    }

    &__box {
        background: $color-white;
        border-radius: 5px;
        overflow: hidden;

        &.no-pad {
            padding: 0;
        }

        &:nth-child(1) {
            width: 100%;

            @media all and (min-width: 1500px) {
                max-width: 75rem;
            }
        }

        &:nth-child(2) {
            width: 100%;
            margin-top: 3.5rem;

            @media all and (min-width: 1500px) {
                flex-grow: 1;
                margin-left: 3.5rem;
                margin-top: 0;
            }
        }

        &--gray {
            @extend .card__box;
            border: solid 5px $color-white;
            background-color: $color-gray-soft;
        }
    }

    &__img {
        overflow: hidden;
        background: $color-gray-light;
        width: 100%;

        img {
            display: block;
            width: 100%;
            max-width: 750px;
            height: auto;
            text-align: center;
            margin: 0 auto;
        }
    }
}
