$perc : (1: #be1722,
    2: #ea4f1b,
    3: #f29100,
    4: #f9b233,
    5: #fdea10,
    6: #dfdc01,
    7: #94c11f,
    8: #3ba933,
    9: #018d36,
    10: #006633);

.progress-bar {
    display: block;
    border-radius: 0.7rem;
    height: 1.4rem;
    background: $color-gray-light;
    overflow: hidden;
    margin-right: 1.5rem;
    width: 100%;

    &:before {
        content: '';
        display: block;
        height: 100%;
        background: $color-green;
    }

    @for $i from 0 through 100 {
        &.perc-#{$i} {
            &:before {
                width: $i+%;
            }
        }
    }
}

.progress-bar--vertical {
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    max-width: 100px;

    &__bar {
        display: block;
        height: 158px;
        background: $color-gray-light;
        width: 40px;
        position: relative;
        overflow: hidden;
        margin: 0 auto;

        img {
            z-index: 50;
            position: relative;
        }

        &:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
        }
    }

    &__indicator {
        position: relative;

        &:before {
            content: '';
            position: absolute;
            transform: translateY(50%);
            border-style: solid;
            border-width: 8px 18px 8px 0;
            border-color: transparent #000000 transparent transparent;
            right: 0;
        }
    }

    &__percentage {
        flex-grow: 1;
        width: 100%;
        text-align: center;
        margin: 1rem auto;

        &:before {
            font-size: 2.8rem;
            display: inline;
            font-weight: 900;

        }
    }

    @for $i from 0 through 100 {
        @if $i < 11 {
            &.perc-#{$i} {
                $ceil: ceil($i / 10);

                .progress-bar--vertical__bar:after {
                    background-color: map-get($perc, $ceil);
                    height: ($i*1.4) + px;
                }

                .progress-bar--vertical__indicator:before {
                    bottom: ($i*1.4) + px;
                }
            }
        }

        @if ($i>10 and $i <100) {
            &.perc-#{$i} {
                $ceil: ceil($i / 10);

                .progress-bar--vertical__bar:after {
                    background-color: map-get($perc, $ceil);
                    height: (($i *1.4) + 2 *floor($i / 10)) + px;
                }

                .progress-bar--vertical__indicator:before {
                    bottom: (($i *1.4) + 2 *floor($i / 10)) + px;
                }

            }
        }

        @if ($i==100) {
            &.perc-#{$i} {
                $ceil: ceil($i / 10);

                .progress-bar--vertical__bar:after {
                    background-color: map-get($perc, $ceil);
                    height: 158px;
                }

                .progress-bar--vertical__indicator:before {
                    bottom: 158px;
                }

            }
        }

        &.perc-#{$i} {

            .progress-bar--vertical__percentage {
                &:before {
                    content: quote($i);
                }
            }

        }
    }
}