.SumoSelect {
  .CaptionCont {
    background-color: #DCDCDC;
    border-radius: 2px;
    border: none;
    font-size: 14px;
    padding: 11px 8px;

    span.placeholder {
      font-style: normal;
      color: $color-black;
    }

    > label > i {
      background: none;
      opacity: 1;

      &:before {
        font-family: "BLM";
        font-style: normal;
        font-weight: normal;
        speak: never;

        display: inline-block;
        text-decoration: inherit;
        width: 1em;
        margin-right: .2em;
        text-align: center;
        /* opacity: .8; */

        /* For safety - reset parent styles, that can break glyph codes*/
        font-variant: normal;
        text-transform: none;

        /* fix buttons height, for twitter bootstrap */
        line-height: 1em;

        /* Animation center compensation - margins should be symmetric */
        /* remove if not needed */
        margin-left: .2em;

        /* you can be more comfortable with increased icons size */
        /* font-size: 120%; */

        /* Font smoothing. That was taken from TWBS */
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;

        /* Uncomment for 3D effect */
        /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
        content: '\e800';
      }
    }
  }

  > .optWrapper {
    width: 130%;
    padding: 14px 8px;
    top: 40px;

    > .options li.opt {
      border-bottom: none;
    }
  }

}
