.tab {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;

    &__item {
        flex: 1;
        text-decoration: none;
        text-align: center;
        height: 5.5rem;
        line-height: 5.5rem;
        text-transform: uppercase;

        &:not(.active) {
            background: $color-white;
            color: $color-gray-light;
        }

        &.active {
            color: $color-black;
            background: $color-gray-soft;
        }
    }
}