.table {
    @extend .w-100;
    margin-top: 1.5rem;

    &__thead {

        @extend .bt;
        @extend .bb;
        padding-top: 1.2rem;
        padding-bottom: 1.2rem;

        @media all and (max-width: $bp-m) {
            display: none;
        }

        .table__tr {
            .table__th {

                &.grow {
                    flex: 1;
                }

                &.fixed {
                    width: 13rem;

                    &-small {
                        width: 8.5rem;
                    }
                }
            }

        }
    }

    &__th--mobile {
        width: 100%;

        @media all and (min-width: $bp-m) {
            display: none;
        }
    }


    &__tr {
        display: flex;
        align-items: stretch;
    }

    &__tbody {
        .table__tr {
            padding: 15px;
            box-shadow: 0 0 5px $color-gray-light;
            background: $color-white;
            border-radius: 5px;
            margin-top: 1.3rem;

            &.active {
                border: solid 3px #a4c80d;
            }

            .table__td {
                padding: 0.75rem;

                &.grow {
                    @media all and (min-width: $bp-m) {
                        flex: 1;
                    }
                }

                &.fixed {
                    width: 13rem;

                    &-small {
                        width: 8.5rem;
                    }

                    &:not(:first-child) {
                        padding-right: 1.5rem;
                        padding-left: 1.5rem;
                    }

                    &.program {
                        line-height: 4.8rem;
                    }
                }
            }
        }

        .table__td {

            &.job,
            &.machine {
                i {
                    color: $color-green;
                    margin-right: 0.75rem;
                }
            }

            &.code {
                padding: 1.5rem 0.75rem 0;
            }
        }

        .table__td {
            max-width: 100%;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }
}

// Aggiungere stili mobile--100 mobile--50 ecc per determinare la larghezza della cella da mobile.
