.timer {
    padding: 1rem;

    .label {
        text-transform: uppercase;
        font-size: 1.4rem;

        .off & {
            color: $color-gray;
        }
    }

    .time {
        font-size: 3.2rem;

        .off & {
            text-align: center;
            color: $color-gray;
        }
    }

    /*
    * TIMER BIG
    */
    &.big {
        .label {
            font-size: 1.6rem;
        }

        .time {
            font-size: 5.8rem;
        }
    }
}