.t {
    &-bold {
        font-family: 'RobotoBold', sans-serif;
    }

    &-gray {
        color: $color-gray;
    }

    &-upper {
        text-transform: uppercase;
    }

    &-center {
        text-align: center;
    }

    &-12 {
        font-size: 1.2rem;
    }

    &-14 {
        font-size: 1.4rem;
    }

    &-16 {
        font-size: 1.6rem;
    }

    &-18 {
        font-size: 1.8rem;
    }

    &-20 {
        font-size: 2rem;
    }

    &-22 {
        font-size: 2.2rem;
    }

    &-24 {
        font-size: 2.4rem;
    }

    &-26 {
        font-size: 2.6rem;
    }

    &-28 {
        font-size: 2.8rem;
    }

    &-40 {
        font-size: 4rem;
    }

    &-48 {
        font-size: 4.8rem;
    }

    &-ellipsis {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}

strong {
    font-family: 'RobotoBlack', sans-serif;
    font-weight: 900;
}