@font-face {

  font-family: 'BLM';
  src: url('/resources/fonts/BLM.eot?82451774');
  src: url('/resources/fonts/BLM.eot?82451743#iefix') format('embedded-opentype'),
  url('/resources/fonts/BLM.woff2?82451774') format('woff2'),
  url('/resources/fonts/BLM.woff?82451774') format('woff'),
  url('/resources/fonts/BLM.ttf?82451774') format('truetype'),
  url('/resources/fonts/BLM.svg?82451774#BLM.eot') format('svg');
  font-weight: normal;
  font-style: normal;

}

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'BLM.eot';
    src: url('assets/fonts/BLM.svg?62187569#BLM.eot') format('svg');
  }
}
*/

[class^="icon"]:before, [class*="icon-"]:before {
  font-family: "BLM";
  font-style: normal;
  font-weight: normal;
  speak: never;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-angle-down:before { content: '\e800'; } /* '' */
.icon-angle-left:before { content: '\e801'; } /* '' */
.icon-angle-right:before { content: '\e802'; } /* '' */
.icon-angle-up:before { content: '\e803'; } /* '' */
.icon-search:before { content: '\e804'; } /* '' */
.icon-to-end:before { content: '\e805'; } /* '' */
.icon-to-end-alt:before { content: '\e806'; } /* '' */
.icon-to-start:before { content: '\e807'; } /* '' */
.icon-to-start-alt:before { content: '\e808'; } /* '' */
.icon-fast-fw:before { content: '\e809'; } /* '' */
.icon-fast-bw:before { content: '\e80a'; } /* '' */
.icon-weight:before { content: '\e822'; } /* '' */
.icon-time:before { content: '\e823'; } /* '' */
.icon-length:before { content: '\e824'; } /* '' */
.icon-logo:before { content: '\e900'; } /* '' */
.icon-logout:before { content: '\e901'; } /* '' */
.icon-sectName_unkn:before { content: '\e902'; } /* '' */
.icon-sectName_1:before { content: '\e903'; } /* '' */
.icon-sectName_2:before { content: '\e904'; } /* '' */
.icon-sectName_3:before { content: '\e905'; } /* '' */
.icon-sectName_4:before { content: '\e906'; } /* '' */
.icon-sectName_5:before { content: '\e907'; } /* '' */
.icon-sectName_6:before { content: '\e908'; } /* '' */
.icon-sectName_7:before { content: '\e909'; } /* '' */
.icon-sectName_8:before { content: '\e90a'; } /* '' */
.icon-sectName_9:before { content: '\e90b'; } /* '' */
.icon-sectName_10:before { content: '\e90c'; } /* '' */
.icon-sectName_11:before { content: '\e90d'; } /* '' */
.icon-sectName_12:before { content: '\e90e'; } /* '' */
.icon-sectName_66:before { content: '\e90f'; } /* '' */
.icon-sectName_67:before { content: '\e910'; } /* '' */
.icon-sectName_68:before { content: '\e911'; } /* '' */
.icon-sectName_100:before { content: '\e912'; } /* '' */
.icon-sectName_101:before { content: '\e913'; } /* '' */
.icon-settings:before { content: '\e914'; } /* '' */

.icon-job_transferred:before {
  content: '\e915';
  color: $color-gray;
} /* '' */
.icon-job_aborted:before {
  content: '\f00d';
  color: $color-danger;
} /* '' */
.icon-job_working:before {
  content: '\f040';
  color: $color-gray;
} /* '' */
.icon-job_production:before {
  content: '\f04b';
  color: $color-gray;
} /* '' */
.icon-job_suspended:before {
  content: '\f04c';
  color: $color-gray;
} /* '' */
.icon-job_ended:before {
  content: '\f04d';
  color: $color-green-light;
} /* '' */
.icon-job_completed:before {
  content: '\f058';
  color: $color-green-light;
} /* '' */
.icon-job_incomplete:before {
  content: '\f071';
  color: $color-warning;
} /* '' */
.icon-job_undefined:before {
  content: '\f10c';
  color: $color-gray;
} /* '' */
.icon-job_created:before {
  content: '\f111';
  color: $color-green-light;
} /* '' */
.icon-job_saved:before{
  content: '\f111';
  color: $color-gray;
}


.icon-more:before { content: '\f055'; } /* '' */
.icon-arrow_left:before { content: '\f137'; } /* '' */
.icon-arrow_right:before { content: '\f138'; } /* '' */
.icon-circle:before{ content: '\f111'}
.icon-eotcircle:before{ content: '\f10c'}

/* '' */

.BLM.eotcircle,
.icon-circle {
  display: block;
  &:before{
    font-size: 1em;
  }

  &.big {
    &:before{
      font-size: 1.8em;
    }
  }

  @each $status-name, $status-color in $color-ms {
    .#{$status-name} & {
      &:before {
        color: map-get($color-ms, $status-name);
      }
    }
  }
}
