.container__materials,
#tabMaterialContent {
  .header__branding {
    display: flex;
    flex-direction: column;
    justify-content: center;

    h4 {
      font-size: 14px;
      line-height: 17px;
    }

    h1 {
      font-size: 48px;
      line-height: 48px;
      font-family: 'RobotoThin', sans-serif;

      [class*='icon'] {
        font-size: 21px;
        padding-right: 0;
        vertical-align: middle;
      }
    }
  }

  form {
    align-items: center;

    > * {
      margin-right: 13px;
    }

    h3 {
      font-size: 26px;
      line-height: 31px;
      font-weight: 400;
    }
    .btn{
      height: 36px;
    }
  }
}

.table__container {
  margin: 0 1rem;
  padding: 27px 30px 14px;
  border: 5px $color-white solid;
  background-color: $color-gray-soft;
  border-radius: 5px;
}

.table__materials {
  border-collapse: separate;
  border-spacing: 0 4px;
  line-height: 15px;

  .table__thead {
    display: flex !important;
    width: 100%;

    .table__th {
      &:first-child {
        width: 13rem;
      }

      &:last-child {
        width: 5rem;
      }
    }

  }

  .w-100 {
    width: 100% !important;
  }

  .table__tr {
    flex: 1;
    padding: 0.75rem;
    align-items: center;
  }

  .table__row {
    flex: 1;
    display: flex;
    @media all and (max-width: $bp-l - 1) {
      flex-direction: column;
    }
  }

  .table__col {
    flex: auto;
    display: flex;
    @media all and (min-width: $bp-l) {

      &:first-child {
        flex: 0 0 57.1428571%;

        & + .table__col {
          flex: 0 0 42.857143%;
        }
      }
    }
  }

  .table__sm_header {
    flex: 0 0 100%;
    background: $color-gray-softer;
    font-size: 18px;
    line-height: 22px;
    padding: 0.75rem;
    border-radius: 3px;

    .icon-search {
      float: right;
      color: $color-black;
      font-size: 12px;
    }

    @media all and (min-width: $bp-l) {
      display: none;
    }
  }

  //bordi inutili
  @media all and (min-width: $bp-l) {
    .table__td_machine,
    .table__td_job,
    .table__td_section,
    .table__td_time,
    .table__td_bar_number,
    .table__td_bar_length,
    .table__td_bar_weight {
      line-height: 33px;
      border-left: 1px $color-gray-softer solid;
    }
  }
  @media all and (max-width: $bp-l - 1) {
    .table__col {
      &:first-child {
        border-bottom: 1px $color-gray-softer solid;
      }

      .table__td_alert,
      .table__td_job,
      .table__td_bar_number,
      .table__td_bar_length,
      .table__td_bar_weight,
      .table__td_time {
        border-left: 1px $color-gray-softer solid;
      }

      .table__td_time,
      .table__td_bar_weight {
        border-right: 1px $color-gray-softer solid;
      }
    }
  }

  //scambio ordine su desktop ==>
  @media all and (min-width: $bp-l) {
    .table__td_machine {
      order: 0;
    }
    .table__td_section {
      order: 1;
    }
    .table__td_job {
      order: 2;
    }
    .table__td_time {
      order: 3;
    }
  }
  //cambio pesi font su mobile
  @media all and (max-width: $bp-l - 1) {
    //prima riga
    .table__td_job,
    .table__td_section,
    .table__td_time {
      font-size: 20px;
      line-height: 24px;
    }

    //seconda riga
    .table__td_bar_number,
    .table__td_bar_length,
    .table__td_bar_weight {
      font-size: 16px;
      line-height: 19px;
    }
    .table__td_job,
    .table__td_section,
    .table__td_time,
    .table__td_bar_number,
    .table__td_bar_length,
    .table__td_bar_weight {
      [class*=icon] {
        font-size: 16px;
      }
    }
  }


  .table__break {
    flex-basis: 100%;
    width: 0;
  }


  .table__td_more_content {
    padding: 0.75rem !important;
  }

  .inner-table {
    width: 100%;

    td {
      text-align: left;
      border-bottom: 1px $color-gray-soft solid;
      font-size: 16px;
      line-height: 19px;
      padding: 10px 5px 6px;

      &:first-child {
        font-size: 18px;
        line-height: 22px;
        font-weight: bold;
      }

      &:nth-child(2) {
        width: 60%;
      }
    }
  }

  [class*='icon'] {
    color: $color-green;
  }

  .has-more-content {
    cursor: pointer;
  }


  .table__tr {

    .table__td_alert {
      @media all and (max-width: $bp-l - 1) {
        padding-left: 0;
      }
    }

    .table__td_toggle {
      font-size: 26px;
    }

    .table__td {
      label {
        color: #7F7F7F;
        font-size: 11px;
        line-height: 13px;
        font-family: 'RobotoBold', sans-serif;
        margin-right: 1rem;
        @media all and (min-width: $bp-l) {
          display: none;
        }
      }

      &:before {
        content: '';
        left: 0;
        display: block;
        height: 80%;
        width: 1px;
        background-color: #efefef;
        position: absolute;
        top: 10%;
        bottom: 10%;
      }
    }

  }

  .alert {
    padding: 15px;
    text-align: center;
    font-size: 24px;
    border-radius: 3px;
    min-width: 100px;

    small {
      font-size: 14px;
    }

    &__warning {
      background-color: $color-warning;
      color: $color-white;
    }

    &__danger {
      background-color: $color-danger;
      color: $color-white;
    }
  }

  .icon-arrow_right {
    &:before {
      transition: transform 500ms;
    }
  }

  .open {
    .icon-arrow_right {
      &:before {
        transform: rotate(90deg);
      }
    }
  }
}
