#tabMatContent {
  padding: 2rem 1.5rem;

  .table__materials {
    .table__col {
      flex: 0 0 50%;
    }
  }

  .table__thead {
    .table__th:first-child {
      width: 14rem;
    }
  }


  .table__col {
    @media all and (min-width: $bp-xl) {

      &:first-child {
        flex: 0 0 57.1428571%;

        & + .table__col {
          flex: 0 0 42.857143%;
        }
      }
    }

    .table__td_machine,
    .table__td_job,
    .table__td_section,
    .table__td_time,
    .table__td_bar_number,
    .table__td_bar_length,
    .table__td_bar_weight {
      line-height: 33px;
      border-left: 1px $color-gray-softer solid;
    }
  }
  @media (max-width: $bp-xl) {
    .table__materials {
      .table__sm_header {
        display: block;
      }

      .table__row {
        flex-direction: column;
      }

      .table__tr {
        .table__td {
          label {
            display: inline;
          }
        }
      }
    }
  }
  @media all and (max-width: $bp-xl - 1) {
    .table__col {
      &:first-child {
        border-bottom: 1px $color-gray-softer solid;
      }

      .table__td_alert,
      .table__td_job,
      .table__td_section,
      .table__td_bar_number,
      .table__td_bar_length,
      .table__td_bar_weight,
      .table__td_time {
        border-left: 1px $color-gray-softer solid;
      }

      .table__td_time,
      .table__td_bar_weight {
        border-right: 1px $color-gray-softer solid;
      }
    }

  //scambio ordine su desktop ==>
    .table__td_machine {
      order: 0;
    }
    .table__td_job {
      order: 1;
    }
    .table__td_section {
      order: 2;
    }
    .table__td_time {
      order: 3;
    }
    //cambio pesi font su mobile
    //prima riga
    .table__td_job,
    .table__td_section,
    .table__td_time {
      font-size: 20px;
      line-height: 24px;
    }

    //seconda riga
    .table__td_bar_number,
    .table__td_bar_length,
    .table__td_bar_weight {
      font-size: 16px;
      line-height: 19px;
    }
    .table__td_job,
    .table__td_section,
    .table__td_time,
    .table__td_bar_number,
    .table__td_bar_length,
    .table__td_bar_weight {
      [class*=icon] {
        font-size: 16px;
      }
    }
  }
}
