/*
* Colors
*/
$color-white: #ffffff;
$color-black: #000000;
$color-green: #004438;
$color-green-light: #45bf1c;
$color-green-soft: #e9f4dc;
$color-gray: #8b8b8b;
$color-gray-dark: #4a4a4a;
$color-gray-light: #dbdbdb;
$color-gray-soft: #efefef;
$color-gray-softer: #edeff1;
$color-red: #ca1010;
$color-red-soft: #ffcdc9;
$color-yellow: #ffd346;
$color-yellow-soft: #ffedd0;
$color-blue: #26659A;
$color-blue-light: #69ace6;
$color-orange: #e8a344;
$color-purple: #8d78a6;

$color-warning: #EDB751;
$color-danger: #ED5151;

/*
* Colors for machine status
*/
$color-ms: (
    "alarm": $color-red,
    "auto": $color-gray,
    "maintainance": $color-yellow,
    "manual": $color-purple,
    "notready": $color-orange,
    "off": $color-black,
    "production": $color-blue,
    "ready": $color-green-light,
    "wait": $color-blue-light,
);
/*
* Colors for job status
*/
$color-js: (
    "job_aborted": $color-red-soft,
    "job_completed": $color-green-soft,
    "job_created": $color-green-soft,
    "job_ended": $color-green-soft,
    "job_incomplete": $color-yellow-soft,
    "job_production": $color-gray-soft,
    "job_saved": $color-gray-soft,
    "job_suspended": $color-gray-soft,
    "job_transferred": $color-gray-soft,
    "job_undefined": $color-gray-soft,
    "job_working": $color-gray-soft,
);
/*
* Breakpoint
*/
$bp-s: 678px;
$bp-m: 768px;
$bp-l: 1500px;
$bp-xl: 1921px;
