@import "../../node_modules/normalize.css/normalize";
@import "vars";
@import "icon";

@font-face {
    font-family: 'RobotoThin';
    src: url("/resources/fonts/Roboto-Thin.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url("/resources/fonts/Roboto-Regular.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'RobotoMedium';
    src: url("/resources/fonts/Roboto-Medium.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RobotoBold';
    src: url("/resources/fonts/Roboto-Bold.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RobotoBlack';
    src: url("/resources/fonts/Roboto-Black.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}
/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}
html {
    font-size: 10px;
    box-sizing: border-box;
}

*,
*:after,
*:before {
    box-sizing: inherit;
}

body {
    min-height: 100vh;
    font-size: 1.6rem;
    font-family: 'Roboto', sans-serif;
    background: $color-gray-dark url('/resources/images/logo_watermark.png') bottom right no-repeat;
}

/* Border utils */
.b {
    &t {
        border-top: solid 1px $color-gray-light;
    }

    &mt {
        @media all and(max-width: $bp-m) {
            border-top: solid 1px $color-gray-light;

        }
    }

    &b {
        border-bottom: solid 1px $color-gray-light;
    }

    &mb {
        @media all and (max-width: $bp-m) {
            border-bottom: solid 1px $color-gray-light;
        }
    }

    &l {
        border-left: solid 1px $color-gray-light;
    }

    &ml-none {
        @media all and (max-width: $bp-m) {
            border-left: none;
        }
    }

    &r {
        border-right: solid 1px $color-gray-light;
    }
}

/*
* Padding Utils
*/
.p {
    @for $i from 0 through 50 {
        &-#{$i} {
            padding: $i+px;
        }
    }
}

/*
* Specific site element stylesheet
*/
.site {
    &__brand {}

    &__logo {
        font-size: 5.6rem;
        color: $color-green;

        @media all and (min-width:$bp-s) {
            font-size: 7.8rem;
        }
    }
}

/*
* Import component
*/
@import "component/all";

@import "_materials";
@import "_tab-material";
