<!-- CARD -->
<!-- Use class for machine status. Ex: "alarm"-->
<div class="card alarm">
    <div class="card__content">

        <header class="card__header">
            <div class="col-11 card__title">
                <!-- Machine Name -->
                Machine name example
            </div>
            <div class="col-1 card__more">
                <i class="icon-more pull--right"></i>
            </div>
        </header>

        <div class="card__status flex">
            <div class="col-7">

                <!-- Use class for percentage. Ex: "perc-15"-->
                <div class="card__status__chart chart-donut perc-15">
                    <div class="slice one"></div>
                    <div class="slice two"></div>
                    <div class="chart-center"><span>%</span>
                    </div>
                </div>
                <div class="card__status__label">
                    <i class="icon-circle"></i>
                    <!-- Machine status Label -->
                    <span>Machine status</span>
                </div>
            </div>
            <div class="col-5 bl">
                <!-- Use class for percentage. Ex: "perc-15"-->
                <div class="progress-bar--vertical perc-100">
                    <div class="progress-bar--vertical__bar">
                        <img src="resources/img/mask.png">
                    </div>
                    <div class="progress-bar--vertical__indicator">
                    </div>
                    <div class="progress-bar--vertical__percentage">
                        <span class="t-28">%</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="card__timer bt bb flex">
            <div class="timer col-6">
                <div class="label">
                    working
                </div>
                <div class="time">
                    hh:mm:ss
                </div>
            </div>
            <div class="timer bl col-6">
                <div class="label">
                    remaining time
                </div>
                <div class="time">
                    hh:mm:ss
                </div>
            </div>
        </div>

        <div class="flex">
            <div class="col-5 job__section">
                <!-- Use class for icon from sectionName -->
                <i class="icon-sectName4"></i>
                <!-- Section name label -->
                <div class="label">
                    30x30x1.5 r3(Fe)
                </div>
            </div>
            <!-- Use class for Job Status. Ex: "job_completed" -->
            <div class="col-7 job__status job_completed">
                <!-- Job label -->
                <div class="label">
                    Job Table
                </div>
                <div class="status">
                    <i class="icon-job"></i>
                    <!-- Job status Label -->
                    <span>Transferred</span>
                </div>
            </div>
        </div>
    </div>
