<div class="container__header header header--fixed">
    <div class="header__logo">
        <i class="icon-logo site__logo"></i>
    </div>
    <div class="header__branding">
        <span class="t-upper t-14 t-bold">cockpit BLM </span>
        <!-- MACHINE NAME -->
        <p class="t-48 mt-0 mb-0 t-ellipsis">@Resources.Strings.zone: @Model.MacZone</p>
    </div>
    <div class="header__actions flex--center">
        <div class="flex--center--col">
            <i class="icon-settings header__action"></i>
            <span class="t-14">settings</span>
        </div>
        <div class="flex--center--col">
            <i class="icon-logout header__action"></i>
            <span class="t-14">logout</span>
        </div>
    </div>
</div>