<!-- Use class for percentage. Ex: "perc-15"-->
<div class="progress-bar--vertical perc-100">
    <div class="progress-bar--vertical__bar">
        <img src="resources/img/mask.png">
    </div>
    <div class="progress-bar--vertical__indicator">
    </div>
    <div class="progress-bar--vertical__percentage">
        <span class="t-28">%</span>
    </div>
</div>
