<!-- Table row order -->
<div class="table__tr flex--wrap">
    <div class="table__td grow job wm-100 bmb">
        <!-- JOB LABEL -->
        <p class="table__th--mobile t-upper t-14 t-gray t-ellipsis">
            job
        </p>

        <span class="t-20">Moto 2_676</span>
        <div class="flex mt-12">
            <!-- JOB STATUS -->
            <i class="icon-job_aborted"></i>
            <!-- JOB STATUS LABEL -->
            <span>Job status</span>
        </div>
    </div>
    <div class="table__td grow flex bl bml-none program wm-60">
        <p class="table__th--mobile t-upper t-14 t-gray t-ellipsis">
            partprogram
        </p>
        <div class="align--center t-20 t-ellipsis">

            <!-- PROGRAM LABEL -->
            04HAH43104HAH43104HAH43104HAH43104HAH43104HAH43104HAH43104HAH43104HAH43104HAH43104HAH43104HAH431
        </div>
    </div>
    <div class="table__td bl bml-none fixed flex--center wm-40">
        <p class="table__th--mobile t-upper t-14 t-gray t-ellipsis">
            percdone
        </p>
        <div class="flex--center">

            <!-- Use class for percentage. Ex: "perc-15"-->
            <div class="chart chart-pie perc-25">
            </div>
            <!-- Percentage label -->
            <span class="t-20">25%</span>
        </div>
    </div>
    <div class="table__td grow  bml-none bl machine wm-100 bmt">
        <!-- MACHINE STATUS -->
        <p class="table__th--mobile t-upper t-14 t-gray t-ellipsis">
            machine
        </p>

        <div class="flex production">
            <div class="col-11">
                <!-- MACHINE NAME -->
                <span class="t-20 t-ellipsis">Machine name</span>
                <div class="flex mt-12">
                    <!-- MACHINE STATUS LABEL -->
                    <i class="icon-circle"></i><span class="t-upper">Machine
                        status</span>
                </div>
            </div>
            <div class="col-1 align--center">
                <i class="icon-arrow_right t-28"></i>
            </div>
        </div>
    </div>
    <div class="table__td w-100 flex">
        <!-- JOB ERP CODE  print if != null-->
        <div class="t-12 t-gray w-100 t-ellipsis"><strong class="t-upper">ERP
                CODE:&nbsp;</strong>XPtd6PqQsN4OZ7P8klH8IA7rSorVvF2TtJypxsXQFprkin6WndWRXIxtjIie5h4DglOh2S5qThwSMBQt9nSAKxAGj4IzXPtd6PqQsN4OZ7P8klH8IA7rSorVvF2TtJypxsXQFprkin6WndWRXIxtjIie5h4DglOh2S5qThwSMBQt9nSAKxAGj4IzESxn4rLuxpoMW7h1eav5biCcRMAKUWE6LmcnESxn4rLuxpoMW7h1eav5biCcRMAKUWE6Lmcn
        </div>
    </div>
</div>