<div class="table__tr flex--wrap">
    <div class="table__td flex--start w-40 wm-100">
        <!-- JOB LABEL -->
        <p class="table__th--mobile t-upper t-14 t-gray t-ellipsis">
            partprogram
        </p>
        <span
            class="t-20 t-ellipsis align--center">04HAH43104HAH43104HAH43104HAH43104HAH43104HAH43104HAH43104HAH43104HAH43104HAH431</span>
    </div>
    <div class="table__td flex--center flexm--start w-30 wm-40">
        <!-- PROGRESS BAR - Use class for percentage. Ex: "perc-15"-->
        <p class="table__th--mobile t-upper t-14 t-gray t-ellipsis">
            percDone</p>
        <div class="progress-bar perc-25"></div>
    </div>
    <div class="table__td flex--center  flexm--start w-15 bl t-center wm-30">
        <!-- JOB QUANTITY -->
        <p class="table__th--mobile t-upper t-14 t-gray t-ellipsis">
            quantity
        </p>
        <div class="t-28 w-100">10</div>
    </div>
    <div class="table__td flex--center flexm--start w-15 bl t-center wm-30">
        <!-- JOB PRODUCED -->
        <p class="table__th--mobile t-upper t-14 t-gray t-ellipsis">
            quantityDone
        </p>
        <div class="t-28 w-100">52</div>
    </div>
    <div class="table__td w-100 w-15 p-0 code wm-100">
        <!-- JOB ERP CODE  print if != null-->
        <div class="t-12 t-gray w-100 t-ellipsis"><strong class="t-upper">ERP
                CODE:&nbsp;</strong>XPtd6PqQsN4OZ7P8klH8IA7rSorVvF2TtJypxsXQFprkin6WndWRXIxtjIie5h4DglOh2S5qThwSMBQt9nSAKxAGj4IzXPtd6PqQsN4OZ7P8klH8IA7rSorVvF2TtJypxsXQFprkin6WndWRXIxtjIie5h4DglOh2S5qThwSMBQt9nSAKxAGj4IzESxn4rLuxpoMW7h1eav5biCcRMAKUWE6LmcnESxn4rLuxpoMW7h1eav5biCcRMAKUWE6Lmcn
        </div>
    </div>
</div>